@import '../modules/all';

.recipe-columns {
    @include flex-grid-row();
    @include flex-align($y: middle);
    @include gutter(0.5, margin);
}
.recipe-column {
    @include flex-grid-column($columns: 12);

    @include breakpoint(medium) {
        @include flex-grid-column($columns: expand);
    }
}

.recipe-ingredients, .recipe-products {
    @include box($color-box-default, $alpha-box-content);
    @include gutter(1, margin-bottom);

    h3 {
        background: set-lightness($color-box-default, $lightness-box-background);
        padding: $margin-default $margin-large;
    }
}

.recipe-column-separator {
    @include flex-grid-column($columns: shrink);
    @include font-icon($fa-var-chevron-right);

    color: set-lightness($color-box-default, $lightness-box-background);
    font-size: 6rem;
    text-shadow: $shadow-box;

    @include breakpoint(small down) {
        display: none;
    }
}

.recipe-item {
    @include box-border-top($color-box-default);
    @include flex-grid-row();
    @include flex-align($y: middle);

    font-weight: bold;
    padding: $margin-small;

    .amount {
        @include flex-grid-column($columns: shrink, $gutters: $margin-large);

        text-align: right;
        width: 4rem;
    }
    .icon {
        @include flex-grid-column($columns: shrink, $gutters: 0);
    }
    .name {
        @include flex-grid-column($columns: expand, $gutters: $margin-large);
    }
}

.recipe-details.expensive {
    .headline-with-icon {
        color: set-lightness($color-recipe-expensive, $lightness-text-secondary);
        background: set-lightness($color-recipe-expensive, $lightness-box-background);

        h1 {
            color: set-lightness($color-recipe-expensive, $lightness-text-primary);
        }
    }

    .recipe-ingredients, .recipe-products {
        background: rgba(set-lightness($color-recipe-expensive, $lightness-box-background), $alpha-box-content);
        color: set-lightness($color-recipe-expensive, $lightness-text-primary);

        h3 {
            background: set-lightness($color-recipe-expensive, $lightness-box-background);
        }
    }

    .recipe-column-separator {
        color: set-lightness($color-recipe-expensive, $lightness-box-background);
    }

    .recipe-item::before {
        background: rgba(set-lightness($color-recipe-expensive, $lightness-box-border), $alpha-box-border);
    }
}
