@import '../modules/all';

.search-result-list {
    @include box-list('li:not(.search-results-more)');
}

.search-results-more {
    @include gutter(0.5, margin-left margin-right);
    @include button-box($color-button-primary);

    max-width: 100%;
    width: 100%;

    .loading {
        @include font-icon($fa-var-spinner, rem-calc(18));
        display: none;
        &::before {
            animation: fa-spin 2s infinite linear;
            padding: 0 rem-calc(4);
        }
    }
    &.loading {
        .default {
            display: none;
        }
        .loading {
            display: inline-block;
        }
    }
}