@import '../modules/all';

.tooltip {
    pointer-events: none;
    position: absolute;
    z-index: $zIndex-tooltip;

    .boxed-item {
        background-color: rgba(set-lightness($color-tooltip, $lightness-box-background), $alpha-box-content-tooltip);
        color: set-lightness($color-tooltip, $lightness-text-primary);
        max-width: $tooltip-content-width;
        width: $tooltip-content-width;

        .item {
            background-color: set-lightness($color-tooltip, $lightness-box-background);
            color: set-lightness($color-tooltip, $lightness-text-secondary);
            h3 {
                color: set-lightness($color-tooltip, $lightness-text-primary);
            }
        }
        .recipe, .more-recipes {
            &::before {
                background-color: rgba(set-lightness($color-tooltip, $lightness-box-border), $alpha-box-border);
            }

            &:not(.expensive) .separator {
                color: set-lightness($color-tooltip, $lightness-text-primary);
            }
        }
    }
}

.tooltip-content {
    box-shadow: $shadow-box-tooltip;
}

.tooltip-chevron {
    @include fa-icon();
    color: set-lightness($color-tooltip, $lightness-box-background);
    font-size: $tooltip-chevron-size;
    height: $tooltip-chevron-size;
    margin: 0 $margin-default;
    position: absolute;
    text-align: center;
    text-shadow: $shadow-box-tooltip;
    width: $tooltip-chevron-size;

    &.up {
        top: -$tooltip-chevron-size;
        &:before {
            content: $fa-var-chevron-up;
        }
    }
    &.down {
        top: 100%;
        margin-top: -0.33rem;
        &:before {
            content: $fa-var-chevron-down;
        }
    }
}

