@import '../../modules/all';

.loading-circle {
    background: rgba(set-lightness($color-box-default, $lightness-box-background), 0.5);
    align-items: center;
    display: flex;
    justify-content: center;
    pointer-events: none;
    position: absolute;
    z-index: $zIndex-loading-circle;
}

.loading-circle-icon {
    @include font-icon($fa-var-spinner, rem-calc(30));

    animation: fa-spin 2s infinite linear;
    color: set-lightness($color-box-default, $lightness-text-primary);
    height: 32px;
    width: 32px;
}