@import '../../modules/all';

header, footer {
    background: $color-water url(inline-image('layout/water.jpg')) repeat;
    background-size: rem-calc(1024) rem-calc(256);
}

#wrapper, #sidebar {
    background: $color-concrete url(inline-image('layout/concrete.jpg')) repeat;
    background-size: rem-calc(1024) rem-calc(512);
}

@include breakpoint(large) {
    #sidebar {
        background: none;
    }
}

header::after {
    background: url(inline-image('layout/border/header.png')) repeat-x;
    background-size: rem-calc(512);
    height: rem-calc(24);
}

footer::before {
    background: url(inline-image('layout/border/footer.png')) repeat-x;
    background-size: rem-calc(512);
    height: rem-calc(64);
}