@import '../../../modules/all';

header {
    // images/inline/layout/water.jpg

    @include flex-grid-row($wrap: false);
    @include flex-align(center, middle);
    @include gutter(1, padding-top padding-bottom);

    background-color: $color-water;
    min-height: rem-calc(80);
    position: relative;

    &::after {
        // images/inline/layout/border/header.png
        bottom: rem-calc(-12);
        content: '';
        display: block;
        pointer-events: none;
        position: absolute;
        left: 0;
        right: 0;
    }
}

body.index-page header {
    display: block;
    padding: 4rem 1rem;
    text-align: center;

    @include breakpoint(medium) {
        padding: 6rem 1rem;
    }
    @include breakpoint(large) {
        padding: 8rem 1rem;
    }
}
