@import '../../../modules/all';

.header-logo {
    @include flex-grid-column($columns: expand);

    box-sizing: content-box;
    position: relative;
    text-align: center;

    img {
        width: $header-logo-width;
    }

    @include breakpoint(large) {
        @include flex-grid-column($columns: shrink, $gutters: 0);

        max-width: $sidebar-max-width;
        width: $sidebar-width;
    }
}

body.index-page .header-logo {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: $header-logo-original-width;

    img {
        width: 100%;
    }
}
