@import '../../../modules/all';

$header-mods-teaser-size: rem-calc(28);

.header-mod-teaser {
    display: none;

    span {
        color: white;
        display: inline-block;
        font-size: $header-mods-teaser-size;
        font-weight: bold;
        opacity: 0.5;
        padding: $margin-default;
        text-shadow: $shadow-text;
    }

    a {
        @include button-box($color-button-primary);
        @include font-icon($fa-var-sitemap);

        display: inline-block;
        font-size: $header-mods-teaser-size;
        padding: $margin-default $margin-large;

        &::before {
            padding-right: $margin-large;
        }
    }
}
body.index-page .header-mod-teaser {
    display: block;
}