@import '../../../modules/all';

$header-search-font-size: 2rem;

.header-search {
    @include flex-grid-column($columns: expand);
    @include gutter(0.5, margin);

    position: relative;
}

body.index-page .header-search {
    display: block;
    margin: 2rem auto;
    max-width: 64rem;
}


.header-search-input {
    @include transition-default(opacity);

    box-shadow: $shadow-box;
    box-sizing: border-box;
    font-size: 2rem;
    opacity: 0.5;
    padding: $margin-default (2 * $margin-default + $header-search-font-size);
    width: 100%;

    &:hover, &:active, &:focus {
        opacity: 0.75;
    }
}

.header-search-box-icon {
    @include font-icon($fa-var-search, $header-search-font-size);

    opacity: 0.5;
    padding: 0.625rem;
    pointer-events: none;
    position: absolute;
    z-index: $zIndex-icon;

    &.loading {
        @include font-icon($fa-var-spinner, $header-search-font-size);

        animation: fa-spin 2s infinite linear;
    }
}

.header-search-box-close-icon {
    @include font-icon($fa-var-times, $header-search-font-size);
    @include transition-default(opacity);

    cursor: pointer;
    opacity: 0.5;
    padding: 0.625rem;
    position: absolute;
    right: 0.625rem;
    top: 0;
    z-index: $zIndex-icon;

    &:hover {
        opacity: 0.75;
    }

    @include breakpoint(large) {
        display: none;
    }
}

body.index-page .header-search-box-close-icon {
    display: none;
}

.header-search-icon {
    @include flex-grid-column($columns: shrink);

    label {
        @include header-icon($fa-var-search);
    }

    @include breakpoint(large) {
        display: none;
    }
}

body.index-page .header-search-icon {
    display: none;
}

// Toggle the header with the hidden checkbox.
body:not(.index-page) #toggle-search-box:checked ~ .header-logo,
body:not(.index-page) #toggle-search-box:checked ~ .header-search-icon,
body:not(.index-page) #toggle-search-box:checked ~ .header-sidebar-icon,
body:not(.index-page) #toggle-search-box:not(:checked) ~ .header-search {
    @include breakpoint(medium down) {
        display: none;
    }
}