@import 'vars/all';
@import 'foundation';
@import 'misc';

@mixin box($color: $color-box-default, $alpha: 1) {
    background: rgba(set-lightness($color, $lightness-box-background), $alpha);
    box-shadow: $shadow-box;
    color: set-lightness($color, $lightness-text-primary);
    display: block;
}

@mixin box-list($child-selector: 'li') {
    @include flex-grid-row();

    & > #{$child-selector} {
        @include grid-column-margin();

        @include flex-grid-column($columns: 12);
        @include breakpoint(medium) {
            @include flex-grid-column($columns: 6);
        }
        @include breakpoint(xlarge) {
            @include flex-grid-column($columns: 4);
        }
    }
}

@mixin box-border-top($color: $color-box-default) {
    position: relative;

    &:before {
        background: rgba(set-lightness($color, $lightness-box-border), $alpha-box-border);
        content: '';
        height: rem-calc(1);
        left: 0;
        position: absolute;
        width: 100%;
        top: 0;
    }
}

@mixin label-with-icon($label-class: '.label', $icon-class: '.icon') {
    @include flex-grid-row();
    @include flex-align($y: middle);

    padding: $margin-default;

    #{$icon-class} {
        @include flex-grid-column($gutters: 0);
        @include flex-grid-size(shrink);
    }

    #{$label-class} {
        @include flex-grid-column();
        @include flex-grid-size(expand);
    }
}

@mixin attached-label($color: $color-box-default) {
    color: set-lightness($color, $lightness-shadowed-label-text);
    font-size: rem-calc(16);
    font-weight: bolder;
    pointer-events: none;
    text-shadow: set-lightness($color, $lightness-shadowed-label-shadow) rem-calc(1) rem-calc(1) rem-calc(2);
}

@mixin box-label($color: $color-box-default) {
    bottom: 0;
    color: rgba(set-lightness($color, $lightness-text-primary), $alpha-box-label);
    font-size: rem-calc(12);
    padding: $margin-very-small $margin-small;
    position: absolute;
    right: 0;
    text-transform: uppercase;
}