@import 'vars/all';
@import 'misc';
@import 'font-awesome';

@mixin header-icon($fa-icon) {
    @include font-icon($fa-icon, $header-icon-height);
    @include transition-default(opacity);

    color: white;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    opacity: 0.5;
    padding: $margin-default;
    position: relative;
    text-align: center;
    text-shadow: $shadow-text;

    &:hover, &:active, &:focus {
        color: white;
        opacity: 0.75;
    }
}

@mixin header-label-with-icon($fa-icon, $icon-size: $header-icon-height, $show-label-on-breakpoint: small) {
    @include font-icon($fa-icon, $icon-size);
    @include transition-default(opacity);

    color: white;
    display: inline-block;
    font-weight: bold;
    line-height: 1rem;
    opacity: 0.5;
    position: relative;
    padding-left: ($icon-size + $margin-small);
    text-align: left;
    text-shadow: $shadow-text;

    @if ($show-label-on-breakpoint == small) {
        font-size: $header-label-font-size;
    } @else {
        font-size: 0;
        @include breakpoint($show-label-on-breakpoint) {
            font-size: $header-label-font-size;
        }
    }

    &:hover, &:active, &:focus {
        color: white;
        opacity: 0.75;
    }
    &::before {
        display: block;
        left: 0;
        position: absolute;
    }
}