@import 'foundation';

$margin-large: $global-margin;
$margin-default: $global-margin / 2;
$margin-small: $global-margin / 4;
$margin-very-small: $global-margin / 8;

$shadow-box:
    1px 1px 3px rgba(0, 0, 0, 0.25),
    1px 1px 2px rgba(0, 0, 0, 0.5);
$shadow-text: $shadow-box;
$shadow-box-tooltip: 3px 3px 10px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.5);

$header-icon-height: rem-calc(32);
$header-label-font-size: rem-calc(12);
$header-logo-width: rem-calc(240);
$header-logo-height: rem-calc(60);
$header-logo-original-width: rem-calc(800);
$header-logo-original-height: rem-calc(200);

$sidebar-max-width: 35%;
$sidebar-width: 24rem;

$tooltip-content-width: 24rem;
$tooltip-chevron-size: rem-calc(32);