@import '../../modules/all';

.message-box {
    @include gutter(1, margin);
    @include box($color-box-default);
    @include label-with-icon();

    color: set-lightness($color-box-default, $lightness-text-secondary);

    .icon {
        margin: $margin-default;
        text-align: center;
    }

    &.success {
        background-color: set-lightness($color-message-success, $lightness-box-background);
        color: set-lightness($color-message-success, $lightness-text-primary);

        .icon {
            @include font-icon($fa-var-check, rem-calc(32));
        }
    }
    &.warning {
        background-color: set-lightness($color-message-warning, $lightness-box-background);
        color: set-lightness($color-message-warning, $lightness-text-primary);

        .icon {
            @include font-icon($fa-var-exclamation-triangle, rem-calc(32));
        }
    }
    &.error {
        background-color: set-lightness($color-message-error, $lightness-box-background);
        color: set-lightness($color-message-error, $lightness-text-primary);

        .icon {
            @include font-icon($fa-var-times, rem-calc(32));
        }
    }
}